// theme
dftColor = #409EFF
dftBorderColor = #C6E2FF
dftHighlightColor = #A0CFFF

#logo
  span.theme
    color dftColor

.user.theme
  color dftColor

  &:hover
    color dftHighlightColor

.breadcrum-icon
  color dftColor

.toc-tree-icon
  color dftColor